*{
    margin: 0;
    padding: 0;
}
.navbar{
    width: 1000px;
    height: 100px;
    background-color: teal; 
    margin: auto;  
}
.navbar ul{
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}
.navbar ul li a{
    text-decoration: none;
    font-size: 28px;
    color: white;
    text-transform: uppercase;
    font-family: cursive;
}